Eel #to connect python with js

playsound==1.2.2 #to play audio files

pyttsx3 #text to speech conversion library in python
SpeechRecognition #speech recognition library
PyAudio #audio processing library
pywhatkit #WhatsApp automation library

hugchat #chatbot library
pvporcupine==1.9.5 #wake word detection library
google-generativeai #Google's generative AI library

opencv-python #OpenCV library for computer vision
opencv-contrib-python #OpenCV contrib modules
markdown2 #Markdown to HTML converter
beautifulsoup4 #HTML parsing library

# https://developer.android.com/tools/releases/platform-tools # for phone automation
#cmd (adb devices )# to check if device is connected

# https://github.com/Genymobile/scrcpy/releases/tag/v3.3.3 (scrcpy-win64-v3.3.3.zip) # for phone mirroring

#change voices 
# import pyttsx3
# engine = pyttsx3.init() # object creation

# # RATE
# rate = engine.getProperty('rate')   # getting details of current speaking rate
# print (rate)                        # printing current voice rate
# engine.setProperty('rate', 125)     # setting up new voice rate

# # VOLUME
# volume = engine.getProperty('volume')   # getting to know current volume level (min=0 and max=1)
# print (volume)                          # printing current volume level
# engine.setProperty('volume',1.0)        # setting up volume level  between 0 and 1

# # VOICE
# voices = engine.getProperty('voices')       # getting details of current voice
# #engine.setProperty('voice', voices[0].id)  # changing index, changes voices. o for male
# engine.setProperty('voice', voices[1].id)   # changing index, changes voices. 1 for female

# engine.say("Hello World!")
# engine.say('My current speaking rate is ' + str(rate))
# engine.runAndWait()
# engine.stop()

# # Saving Voice to a file
# # On Linux, make sure that 'espeak-ng' is installed
# engine.save_to_file('Hello World', 'test.mp3')
# engine.runAndWait()


# win+j --> mic
# ctrl+ f --> whatsapp